<div class="text-center">
  <%= image_tag 'oERP.gif', style: 'display:auto; max-width:100%' %>
  <hr>
  <h4>歡迎使用 <strong>oERP</strong> 商務系統</h4>
  <h5>簡潔設計 <i class="glyphicon glyphicon-cloud"></i> 快速上手</h5>
  <%= signed_button %>
</div>