<footer class="footer">
	<p class="nav-text">Copyright © 2015 aiueoA All rights reserved.</p>
	<ul class="list-inline text-muted">
		<li>
		<%= link_to t("Chinese"), controller: controller_name, 
			action: action_name, locale: "zh-TW" %>
		</li>
		<li>|</li>
		<li>
		<%= link_to t("English"), controller: controller_name, 
			action: action_name, locale: "en" %>
		</li>		
	</ul>
</footer>