
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<%= link_to 'oERP', home_path, :class=>"navbar-brand" %>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<%= nav_li 'Home', home_path %>
			<%= nav_li 'About', about_path %>
		</ul>
	</div>
	<div>
		

	</div>
</nav>