<ul class="nav nav-stacked">
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu" aria-expanded="false" class="collapsed">Settings <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="userMenu" aria-expanded="false" style="height: 0px;">
            <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
    </li>
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2" class="collapsed" aria-expanded="false"> Reports <i class="glyphicon glyphicon-chevron-right"></i></a>

        <ul class="nav nav-stacked collapse" id="menu2" aria-expanded="false" style="height: 0px;">
            <li><a href="#">Information &amp; Stats</a>
            </li>
            <li><a href="#">Views</a>
            </li>
            <li><a href="#">Requests</a>
            </li>
            <li><a href="#">Timetable</a>
            </li>
            <li><a href="#">Alerts</a>
            </li>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="menu3">
            <li><a href=""><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
            <li><a href=""><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
        </ul>
    </li>
</ul>