<ul class="nav nav-stacked">
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#financeMenu" aria-expanded="false" class="collapsed">FINANCE
      <i class="glyphicon glyphicon-briefcase navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="financeMenu" aria-expanded="false" style="height: 0px;">
            <li class="active"> <a href="#"><i class="glyphicon glyphicon-usd"></i> Cashbook</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Checkbook</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-piggy-bank"></i> Bankbook</a></li>
        </ul>
    </li>
    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#pssMenu" class="collapsed" aria-expanded="false"> P.S.W
      <i class="glyphicon glyphicon-shopping-cart navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="pssMenu" aria-expanded="false" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Purchase</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Sales</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Stock</a></li>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#infoMenu"> INFORMATION <i class="glyphicon glyphicon-info-sign navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="infoMenu" aria-expanded="false" style="height: 0px;">
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Client</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Store</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-minus"></i> Product</a></li>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#repoMenu"> REPORT <i class="glyphicon glyphicon-stats navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="repoMenu" aria-expanded="false" style="height: 0px;">
            <li><a href=""><i class="glyphicon glyphicon-minus"></i> BlaBlaBla Report</a></li>
            <li><a href=""><i class="glyphicon glyphicon-minus"></i> ShaShaSha Report</a></li>
        </ul>
    </li>
    <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#settingMenu"> SETTING <i class="glyphicon glyphicon-cog navbar-right"></i></a>
        <ul class="nav nav-stacked collapse" id="settingMenu" aria-expanded="false" style="height: 0px;">
            <li><a href="<%= edit_companyinfo_path(1) %>"><i class="glyphicon glyphicon-minus"></i> Company Information</a></li>
            <li><a href=""><i class="glyphicon glyphicon-minus"></i> User Information</a></li>
            <li><a href=""><i class="glyphicon glyphicon-minus"></i> User Authority</a></li>
            <li><a href=""><i class="glyphicon glyphicon-minus"></i> Shared Setting</a></li>
        </ul>
    </li>
</ul>